.nav-menu {
    overflow: auto;
    z-index: 100;
    box-shadow: 2px 2px 15px -2px black;
    width: 300px;
    height: 100vh;
    display:flex;
    justify-content: left;
    position:fixed;
    top:0;
    left: -100%;
    transition:1s;
}
.nav-menu.active {
    left:0;
    transition:400ms;
}

.menu-items {
    position: absolute;
    top: 100px;
    display: block;
}
.nav-text {
    margin: 10px;
    display: flex;
    height:70px;
    width: 250px;
    background: none;
}



/* Buttons */
.navbar {
    z-index: 3;
    background-color: none;
    background: none;
    position: absolute;
    top: 20px;
    left: 10px;
}
.menu-bars {
    background-color: none;
    background:none;
    margin-left: 2rem;
    font-size: 2rem;
    background:none;
}
.settings-icon {
    height: 35px;
    width: 35px;
    color:white;
    background-color: transparent;
    transition: all 0.5s;
}
.settings-icon:hover {
    height:38px;
    width: 38px;
    color:grey;
    transform:rotate(25deg);
}
.settings-icon:active {
    transform:rotate(-25deg);
}

.close {
    position: absolute;
    top: 40px;
    right: 40px;
    height: 30px;
    width: 30px;
    transition: all 0.5s;
}

.close:hover {
    height: 35px;
    width:35px;
}